<nav class="p-4 px-28 bg-slate-200">
  <div class="flex items-center">
    <div class="me-20">
      <a
        class="text-2xl"
        appBetterHighlight
        [defaultColor]="'yellow'"
        [highlightColor]="'green'"
      >
        Recipe Book</a
      >
    </div>
    <div class="flex gap-4">
      <ul class="flex gap-4">
        <a [routerLink]="['recipes']" routerLinkActive="underline">Recipes</a>
        <a [routerLink]="['shopping-list']" routerLinkActive="underline"
          >Shopping List</a
        >
      </ul>
    </div>
    <div class="ms-auto" appDropdown>
      <button>Menu &#9660;</button>
      <ul
        class="border-2 rounded-md bg-slate-100 p-3 space-y-2"
        [hidden]="true"
      >
        <li><a href="">Save Data</a></li>
        <li><a href="">Fetch Data</a></li>
      </ul>
    </div>
  </div>
</nav>
