<nav class="p-4 px-28 bg-slate-200">
  <div class="flex items-center">
    <div class="me-20">
      <a class="text-2xl">Recipe Book</a>
    </div>
    <div class="flex gap-4">
      <ul class="flex gap-2">
        <li (click)="onSelect('recipes')">Recipes</li>
        <li (click)="onSelect('shopping-list')">Shopping List</li>
      </ul>
    </div>
    <div class="ms-auto">
      <button>Menu &#9660;</button>
      <ul hidden>
        <li><a href="">Save Data</a></li>
        <li><a href="">Fetch Data</a></li>
      </ul>
    </div>
  </div>
</nav>
