<div class="flex flex-col gap-3">
  <div>
    <img [src]="recipe.imagePath" class="img-respoinsve" />
  </div>
  <div>
    <h1>Recipe Name: {{ recipe.name }}</h1>
  </div>
  <div>
    <div appDropdown>
      <button class="p-2 rounded-md bg-blue-300">Manage Recipe &#9660;</button>
      <ul
        class="border-2 rounded-md bg-slate-100 p-3 space-y-2"
        [hidden]="true"
      >
        <li><a (click)="handleAddToShopping()">To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
    <div></div>
  </div>
  <div>
    <h2>{{ recipe.description }}</h2>
  </div>
  <div>
    <h2 class="text-xl">Ingredients</h2>

    <div>
      <ul class="flex flex-col gap-2 pt-2">
        <li
          class="p-2 rounded-sm border cursor-pointer"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
