<div class="flex flex-col gap-2">
  <div>
    <img [src]="" class="img-respoinsve" />
  </div>
  <div>
    <h1>Recipe Name</h1>
  </div>
  <div>
    <div>
      <button class="p-2 rounded-md bg-blue-300">Manage Recipe &#9660;</button>
      <ul hidden>
        <li><a href="">To Shopping List</a></li>
        <li><a href="">Edit Recipe</a></li>
        <li><a href="">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div>
    <h2>Description</h2>
  </div>
  <div>
    <h2>Ingridients</h2>
  </div>
</div>
