<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label" for="email">Mail</label>
          <input
            ngModel
            required
            class="form-control"
            name="email"
            type="email"
            email
            #email="ngModel"
          />
          <span class="form-text" *ngIf="!email.valid && email.touched"
            >Please enter a valid email!</span
          >
        </div>
        <div class="mb-3">
          <label class="form-label" for="subscriptionType">Subscription</label>
          <select
            [(ngModel)]="selectedSubscription"
            class="form-control"
            name="subscriptionType"
          >
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription"
            >
              {{ subscription }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input
            ngModel
            required
            class="form-control"
            name="password"
            type="password"
            #password="ngModel"
          />
          <span class="form-text" *ngIf="!password.valid && password.touched"
            >Please enter a valid password!</span
          >
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <p *ngIf="!signupForm.valid && signupForm.touched">
          The form is invalid
        </p>
      </form>
    </div>
  </div>
</div>
